@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Plus+Jakarta+Sans:wght@400;600&family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "Libre Baskerville", serif;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-family: "Rubik", sans-serif;
    min-width: 0;
}

body {
    background-color: #000080;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.content-wrapper {
    flex: 1;  /* Takes up all available space */
}

.fill-space {
    flex: 1;  /* Takes up all available space */
}
@media screen and (max-width: 600px) {
    .fill-space {
        flex: none;
    }
}


nav {
    height: 100px;
    background:  #000080;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 calc((100vw - 1000px) / 2);
}

nav .name-icon-container{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center; 
}

nav a {
    text-decoration: none;
    font-size: clamp(16px, 2vw, 20px);
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #000080;
}


nav a:hover {
    border-bottom-color: white;
}

.hero {
    background: #000080;
    color: white;
}

.hero-container {
    display: flex;
    flex-direction: column;
    background-color: #000080;
    min-height: calc(100vh - 100px); /* -100px to account for navbar height*/
    padding: 5rem calc((100vw - 1000px) / 2);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.5;
}

.items-center {
    align-items: center;
}

.hero-statement {
    font-size: clamp(24px, 5vw, 56px);
    padding-right: clamp(64px, 5vw, 96px); /* Responsive padding-right */
    font-weight: 300;
    line-height: 1.2;
}

.bold {
    font-weight: bold;
    font-weight: 900;
}

.hero-image {
    max-width: 100%; /* Ensure it doesn't overflow the grid cell */
    height: auto;
    border-radius: 2px ;
}

.big-shadow {
    box-shadow: 0 8px 8px -2px black;
}

.small-shadow{
    box-shadow: 0 2px 8px -2px black;
}

#contact-button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 1.2rem 2rem;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    color: #000080;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.contact-col {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-col a {
    color: white;
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    border-bottom: 1px solid #000080; /* Thin invisible underline */
}

.contact-col a:hover {
    border-bottom: 1px solid #fff;
}

/* ABOUT AND CATALOGUE */

.about-and-catalogue {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 5em calc((100vw - 1000px) / 2);
}

@media screen and (max-width: 600px) {
    .about-and-catalogue {
        flex-direction: column;
    }

}


.about-container{
    flex: 1;
}

.about-container p{
    padding: 24px;
}

.about-and-catalogue-header {
    text-align: center;
    font-size: clamp(24px, 5vw, 48px);
    padding-bottom: 16px;
    font-weight: 300;
    line-height: 1.2;
    color: #000080;
}

.catalogue-section {
    text-align: center; /* Aligns content in the center */
    margin-left: 20px;
    margin-right: 20px;
}

.catalogue-header {
    text-align: center;
    font-size: clamp(16px, 5vw, 32px);
    font-weight: 300;
    line-height: 1.2;
    color: #000080;
}

.catalogue-list {
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Removes default padding */
    /* width: 60%; Sets a specific width for the list */
    display: inline-block;
    margin: auto; /* Centers the list within its container */
}

.catalogue-list li {
    display: flex;
    /* align-items: center; */
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc; /* Separator line */
    padding-bottom: 8px;
    /* padding left and right stretches the separator line */
    padding-left: 16px;
    padding-right: 16px;

}

.catalogue-list li:last-child {
    border-bottom: none; 
}

.catalogue-list img {
    width: 48px;
    height: auto;
    object-fit: contain; /* ensures image scales properly */
    object-position: center; /* center the image */
    margin-right: 24px;
    /* margin-right:/ auto; gap between logo and text */
}

.catalogue-list li a {
    /* align content so that the image and text are relatively centered to eachother */
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: inherit;
    /* width: 100%; */
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 0 16px;
    }

    .hero-container {
        padding: 5rem 1rem;
        min-height: calc(100vh - 100px);
    }
}

@media screen and (max-width: 600px) {

    .flex-container {
        flex-direction: column; /* Example: Change direction to column */
        padding: 0 16px;
    }

    .hero-container {
        display: flex;
        padding: 2.5rem calc((100vw - 1000px) / 2);
    }

    .about-and-catalogue {

        padding: 2.5rem calc((100vw - 1000px) / 2);
    }

    .hero-statement {
        font-size: clamp(24px, 5vw, 56px);
        padding-right: 0px;
        padding-bottom: 16px;
        padding-left: 0px;
        font-weight: 300;
        line-height: 1.2;
    }

    .contact-col {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        align-items: start;
    }
}







footer {
    background-color: #000080; /* Matching the body's background color */
    color: white; /* Ensuring text is visible on the dark background */
    padding: 20px 0; /* Adding some padding for spacing */
    text-align: center; /* Center-aligning the text */
    font-family: "Plus Jakarta Sans", sans-serif; /* Using the sans-serif font for the footer */
}

.footer-content {
    margin-bottom: 20px; /* Spacing between content and footer bottom */
}

.footer-section.links ul {
    list-style-type: none; /* Removing bullet points as requested */
    padding: 0; /* Removing default padding */
}

.footer-section.links li {
    display: inline; /* Displaying links inline */
    margin-right: 20px; /* Spacing between the links */
}

.footer-section.links a {
    color: white; /* Setting link color */
    text-decoration: none; /* Removing underline from links */
    font-weight: 400; /* Font weight as per your style */
}

.footer-section.links a:hover {
    text-decoration: underline; /* Underline on hover for better user experience */
}

.footer-bottom {
    font-size: 0.8rem; /* Adjust the font size as per your design */
    font-family: "Libre Baskerville", serif; /* A different font for the copyright text */
}

/* Media queries for responsiveness, if needed */
@media (max-width: 768px) {
    .footer-section.links li {
        display: block; /* Stack the links vertically on smaller screens */
        /* margin-bottom: 10px; /* Add some spacing between stacked links */
    }
}


.contact {
    background: #000080;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
}
/*  CONTACT PAGE */
.contact-form-container {
    background-color: #fff; /* or any color you prefer */
    padding: 20px;
    max-width: 500px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    text-align: center;
    color: #000080;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.button-blue { 
    color: #fff;
    background-color: #000080;
}


.hidden-label{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}