@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Plus+Jakarta+Sans:wght@400;600&family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif; 
    min-width: 0;
}

body {
    background-color: #3e4090;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.content-wrapper {
    flex: 1;  /* Takes up all available space */
}



@media screen and (max-width: 600px) {
    .fill-space {
        flex: none;
    }
}

nav {
    background-color: white; /* Sets the background color to white */
    /* text-align: center; Centers the content (the image) horizontally */
    display: block; /* Ensures the nav is a block-level element, allowing it to take the full width */
    padding: 12px calc((100vw - 1000px) / 2);
}

nav a {
    display: inline-block; /* Makes the link (therefore the image) centered as per the text-align of the parent */
    text-decoration: none; /* Optional: Removes the underline from the link */
}

nav img {
    height: 76px;
    width: auto;
}

.hero {
    background: #3e4090;
    color: white;
}

.hero-container {
    display: flex;
    flex-direction: column;
    background-color: #3e4090;
    min-height: calc(100vh - 100px); /* -100px to account for navbar height*/
    padding: 5rem calc((100vw - 1000px) / 2);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.5;
}

.items-center {
    align-items: center;
}

.fill-space {
    flex: 1;  /* Takes up all available space */
}

.hero-statement {
    font-size: clamp(24px, 5vw, 56px);
    padding-right: clamp(64px, 5vw, 96px); /* Responsive padding-right */
    font-weight: 300;
    line-height: 1.2;
}

.bold {
    font-weight: bold;
    font-weight: 600;
}

.hero-image {
    max-width: 100%; /* Ensure it doesn't overflow the grid cell */
    width: 1200px;
    height: auto;
    border-radius: 2px;
    background-color: #fff;
    padding: 24px 24px;
}

.big-shadow {
    box-shadow: 0 8px 8px -2px black;
}

.small-shadow{
    box-shadow: 0 2px 8px -2px black;
}

#contact-button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 1.2rem 2rem;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    color: #3e4090;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.small-shadow{
    box-shadow: 0 2px 8px -2px black;
}

.contact-col {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-col a {
    color: white;
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    border-bottom: 1px solid #3e4090; /* Thin invisible underline */
}

.contact-col a:hover {
    border-bottom: 1px solid #fff;
}

/* ABOUT AND CATALOGUE */

.catalogue-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5em calc((100vw - 1000px) / 2);
}

.catalogue-header {
    text-align: center;
    font-size: clamp(16px, 5vw, 32px);
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 20px;
    color: #3e4090;
}

.catalogue-list {
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Removes default padding */
    display: inline-block;
    margin: auto; /* Centers the list within its container */
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media screen and (max-width: 1000px) {
    .catalogue-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }

      .catalogue-list li:nth-last-child(-n+2) {
        border-bottom: none;
    }

    
}

.catalogue-list li {
    display: flex;
    /* align-items: center; */
    border-bottom: 1px solid #ccc; /* Separator line */
    padding-bottom: 4px;
    padding-top: 4px;
    /* padding left and right stretches the separator line */
    padding-left: 16px;
    padding-right: 16px;
    

}


.catalogue-list li:last-child {
    border-bottom: none; 
}

.catalogue-list img {
    height: auto;
    object-fit: contain; 
    object-position: center; /* center the image */
    margin-right: 24px;
    float: left;
    width:  96px;
    height: 96px;
    object-fit: contain;
}



.catalogue-list li a {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 12px 16px;
    }

    .hero-container {
        padding: 5rem 1rem;
        min-height: calc(100vh - 100px);
    }
}

@media screen and (max-width: 600px) {

    nav {
        display: flex;
        justify-content: center;
        padding: 16 16px;
    }

    .flex-container {
        flex-direction: column; /* Example: Change direction to column */
        padding: 0 16px;
    }

    .hero-container {
        display: flex;
        padding: 2.5rem calc((100vw - 1000px) / 2);
    }

    .catalogue-section {
        padding: 2.5rem calc((100vw - 1000px) / 2);
    }

    .hero-statement {
        font-size: clamp(24px, 5vw, 56px);
        padding-right: 0px;
        padding-bottom: 16px;
        padding-left: 0px;
        font-weight: 300;
        line-height: 1.2;
    }

    .contact-col {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        align-items: start;
    }
}




footer {
    background-color: #3e4090; /* Matching the body's background color */
    color: white; /* Ensuring text is visible on the dark background */
    padding: 20px 0; /* Adding some padding for spacing */
    text-align: center; /* Center-aligning the text */
    font-family: "Plus Jakarta Sans", sans-serif; /* Using the sans-serif font for the footer */
}

.footer-text {
    font-size: 0.8rem; /* Adjust the font size as per your design */
    font-family: "Libre Baskerville", serif; /* A different font for the copyright text */
}




